<div class="footer">
    <div class="footer_speech">
        <img src="/static/logo/white_logo.png" alt="Muktokishore logo"></img>
        <span>Muktokishore</span>
        <p>
            মুক্ত কিশোর একটি ত্রৈমাসিক ম্যাগাজিন। আপনার সৃজনশীল প্রতিভা আমাদের সামনে তুলে ধরুন। আমরা আপনার সৃজনশীল প্রতিভা উন্মোচনে সহায়ক ভূমিকা পালন করব।আপনার প্রতিভা বিকাশে মুক্ত কিশোর সবসময় আপনার পাশে আছে। আমাদের সাথেই থাকুন।
        </p>
    </div>
    <div class="sitemap">
        <span>Contact us</span>
        <ul style="word-wrap: break-word;">
            <li>
                <a href="mailto:muktokishore@gmail.com">muktokishore@gmail.com</a>
            </li>
            <li>
                <a href="https://www.facebook.com/groups/1067317797015738">Join in our FB group</a>
            </li>
            <li>
                <a href="/joinUs" style="color: yellow;">Do you want to work with us??</a>
            </li>
        </ul>
    </div>
</div>