<div class="headerDiv">
    <img src="/static/logo/white_logo.png">
    <div class="desktopNav">
        <a href="/">Home</a>
        <a <%if(active==="about"){%> style="display:none"<%}%> href="/aboout-us">About Us</a>
        <a <%if(active==="team"){%> style="display:none"<%}%> href="/team">Team</a>
        <a <%if(active==="programs"){%> style="display:none"<%}%> href="/programs">Programs</a>
        <a <%if(active==="contact"){%> style="display:none"<%}%> href="/contact">Contact</a>
    </div>
    <div class="mobileNav">
        <div id="navButtonOpen" class="navButton" onclick="mobileNavOpen(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div id="navSection">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a <%if(active==="about"){%> style="display:none"<%}%> href="/aboout-us">About Us</a>
                </li>
                <li>
                    <a <%if(active==="team"){%> style="display:none"<%}%> href="/team">Team</a>
                </li>
                <li>
                    <a <%if(active==="programs"){%> style="display:none"<%}%> href="/programs">Programs</a>
                </li>
                <li>
                    <a <%if(active==="contact"){%> style="display:none"<%}%> href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>