<html>
    <head>
        <title>Muktokishore - About us</title>
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Muktokishore|Here we are describing about ourself">
        <meta name="keywords" content="Muktokishore, Teenage welfare, Bangladeshi magazine">
    </head>
    <body>
        <%- include("../components/header")  -%>
        <script src="/static/scripts/script.js"></script>
    </body>
</html>