<html>
    <head>
        <title>Muktokishore - About our programs</title>
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <link rel="stylesheet" href="/static/stylesheets/pages.css">
        <link href="https://fonts.maateen.me/charu-chandan-3d/font.css" rel="stylesheet">
        <link href="https://fonts.maateen.me/mukti/font.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Muktokishore|Here we are describing about ourself">
        <meta name="keywords" content="Muktokishore, Teenage welfare, Bangladeshi magazine">
    </head>
    <body>
        <%- include("../components/header", {active: "about"});  -%>
        <div class="main_div">
            <h1>আমাদের কার্যক্রম</h1>
            <p>
                আমদের প্রধান লক্ষ্য হচ্ছে কিশোর-কিশোরীদের সুপ্ত প্রতিভাবাকে জাগিয়ে তোলা। <br><br>
                আমরা সারাদেশ থেকেই সৃজনশীল কর্ম আহ্বান করছি। যেকেউই তাদের নিজের কবিতা, গল্প, গান ইত্যাদি পাঠাতে পারেন।<br>
                <b>লেখা পাঠানোর ঠিকানা-</b><br>
                ই-মেইল: <a href="mailto:muktokishore@gmail.com">muktokishore@gmail.com</a>
                <br><br>
                এছাড়াও আমরা বিভিন্ন শিক্ষাপ্রতিষ্ঠান থেকে শিক্ষক ও ছাত্র প্রতিনিধি নিয়োগ দিচ্ছি।<a href="/representativeForm">আপনিও কি আমাদের সাথে কাজ করতে চান?</a>
            </p>
        </div>
        <%- include("../components/footer");  -%>
        <script src="/static/scripts/script.js"></script>
    </body>
</html>