<html>
    <head>
        <title>Muktokishore - Representative form</title>
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <link rel="stylesheet" href="/static/stylesheets/pages.css">
        <link href="https://fonts.maateen.me/charu-chandan-3d/font.css" rel="stylesheet">
        <link href="https://fonts.maateen.me/mukti/font.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Muktokishore|Here we are describing about ourself. You can join us. ">
        <meta name="keywords" content="Muktokishore, Teenage welfare, Bangladeshi magazine">
    </head>
    <body>
        <%- include("../components/header", {active: "about"});  -%>
        <div class="main_div">
            <h1>আপনি কি আমাদের সাথে কাজ করতে আগ্রহী?</h1>
            <h3>তাহলে সঠিক তথ্য প্রদানপূর্বক নিচের ফর্মটি পূরণ করুন</h3>
            <form id="representative" method="post" action="/representativeApplicant" encType="multipart/form-data">
                <label for="name">নাম:</label><br>
                <input required name="name" type="text"><br>
                <label for="email">ই-মেইল:</label><br>
                <input required type="email" name="email"><br>
                <label for="phone">ফোন:</label><br>
                <input required type="tel" name="phone"><br>
                <label for="birthdate">জন্মতারিখ:</label><br>
                <input required type="date" name="birthdate"><br>
                <label for="nid_check"><input id="nid_checker" type="checkbox">আপনার কি জাতীয় পরিচয় পত্র আছে?</label><br>
                <div id="bc_div">
                    <label for="birthCertificate">জন্ম নিবন্ধন নং:</label><br>
                    <input type="number" name="birthCertificate"><br>
                </div><br>
                <div id="nid_div">
                    <label for="nid">জাতীয় পরিচয় পত্র নং:</label><br>
                    <input type="number" name="nid"><br>
                </div><br>
                <label for="presentAddress">বর্তমান ঠিকানা:</label><br>
                <textarea required name="presentAddress" cols="30" rows="5"></textarea><br>
                <label for="permanentAddress">স্থায়ী ঠিকানা:</label><br>
                <textarea required name="permanentAddress" cols="30" rows="5"></textarea><br>
                <label for="institution">প্রতিষ্ঠান:</label><br>
                <input required type="text" name="institute"><br>
                <label for="post">পদ:</label><br>
                <select required name="post">
                    <option value="Teacher">শিক্ষক</option>
                    <option value="Student">শিক্ষার্থী</option>
                </select><br>
                <label for="image">সদ্য তোলা ছবি</label>
                <input required type="file" name="image">
                <br>
                <input type="submit" value="সাবমিট">
            </form>
        </div>
        <%- include("../components/footer");  -%>
        <script src="/static/scripts/script.js"></script>
    </body>
</html>