<html>
    <head>
        <title>Tests</title>
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include("../components/header")  -%>
        <script src="/static/scripts/script.js"></script>
    </body>
</html>