<!DOCTYPE html>
<html>
    <head>
        <title>Muktokishor</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets.style.css">
    </head>
    <body>
        <img src="/static/logo/black_logo.jpg" style="width: 100%;">
        <h1 style="font-size: 10em;
        text-align: center;">Thank you</h1>
        <p style="text-align: center;">
            <a href="/" style="font-size:28px;color:blueviolet">You can go back to our homepage</a><br>
            <a style="font-size:28px;color:beige;margin-top: 12px;" href="https://www.facebook.com/groups/1067317797015738">or visit Our facebook page</a>
        </p>
    </body>
</html>