<html>
    <head>
        <title>Muktokishore - Admin panel</title>
        <link rel="stylesheet" href="/static/stylesheets/admin/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Muktokishore|Here we are describing about ourself">
        <meta name="keywords" content="Muktokishore, Teenage welfare, Bangladeshi magazine">
    </head>
    <body>
        <section>
            <div class="form_div">
                <div>
                    <img src="/static/logo/white_logo.png">
                    <span>Admin</span>
                </div>
                <form>
                    <div class="form_control">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="email" name="email" placeholder="Enter admin email">
                    </div>
                    <div class="form_control">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <input type="password" name="password" placeholder="Enter password">
                    </div>
                    <input type="submit" value="Log in">
                </form>
            </div>
        </section>
    </body>
</html>